关于 路由控制 与 qBittorrent WebUI 冲突？

原先使用clash做gost的前置分流，配置如下
  - SRC-IP-CIDR,192.168.1.201/32,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,100.64.0.0/10,DIRECT
  - IP-CIDR,224.0.0.0/4,DIRECT
  - GEOIP,CN,DIRECT
  - DST-PORT,80,DIRECT
  - SRC-PORT,7777,DIRECT
  - MATCH,gost
 访问qBittorrent的webui正常

这两天想折腾gost分流功能，使用路由控制功能
测试bypass.txt文件（未开启白名单模式）
# period for live reloading
reload      10s
# matcher reversed

*.example.com
# this will match example.org and *.example.org
.example.org
# From IANA IPv4 Special-Purpose Address Registry
# http://www.iana.org/assignments/iana-ipv4-special-registry/iana-ipv4-special-registry.xhtml
0.0.0.0/8           # RFC1122: "This host on this network"
10.0.0.0/8          # RFC1918: Private-Use
100.64.0.0/10       # RFC6598: Shared Address Space
127.0.0.0/8         # RFC1122: Loopback
169.254.0.0/16      # RFC3927: Link Local
172.16.0.0/12       # RFC1918: Private-Use
192.0.0.0/24        # RFC6890: IETF Protocol Assignments
192.0.2.0/24        # RFC5737: Documentation (TEST-NET-1)
192.88.99.0/24      # RFC3068: 6to4 Relay Anycast
192.168.0.0/16      # RFC1918: Private-Use
198.18.0.0/15       # RFC2544: Benchmarking
198.51.100.0/24     # RFC5737: Documentation (TEST-NET-2)
203.0.113.0/24      # RFC5737: Documentation (TEST-NET-3)
240.0.0.0/4         # RFC1112: Reserved
255.255.255.255/32  # RFC0919: Limited Broadcast
# From IANA Multicast Address Space Registry
# http://www.iana.org/assignments/multicast-addresses/multicast-addresses.xhtml
224.0.0.0/4         # RFC5771: Multicast/Reserved

却无法访问qBittorrent WebUI了
且未发现报错 104为本机ip 192.168.0.200:8080为qBittorrent WebUI端口
2020/12/17 03:50:28 http.go:306: [http] 192.168.0.104:53192 >-< 192.168.0.200:8080
浏览器显示
Not Found
使用 gost-linux-armv8-2.11.1.gz 
配置
{
    "ServeNodes": [
        ":1080"
    ],
    "ChainNodes": [
        "kcp://ip:端口?bypass=/root/bypass.txt"
    ]
}